@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #fff;
  display: flex;
  align-items: center;  
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0px 30px;
}

li a {
  color: #008b8b;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  color: #00d8d8;
}

.btn{
  margin: 20px;
  background-color: #00d8d8; 
}

.btn:hover{
  margin: 20px;
  background-color: #008b8b; 
}

.main_content {
  margin: 20px;
  border-radius: 20px;
  text-align: center;
  width: 70%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  background-color: #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
} 

.galery{
  width: 100%;
  margin: 20px 0px;
  column-width: 325px;
  column-gap: 0px;
  column-count: 3;
  align-content: center;
}

.galery-image{
  display: inline-block;
  width: 100%;
  height: auto;
}


/* The container */
.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 260px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  width: 92%;
  background-color: #eee;
  border:solid;
  border-color: transparent;
  align-content: center;
  margin:0px 30px;
}
.checkmark img{
  max-height:100%;
  max-width:100%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
 background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  border-color: #00d8d8;
  background-color: #008b8b;   
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.photo-form{
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 90%;
}




