@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: #fff;
  display: flex;
  align-items: center;  
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin: 0px 30px;
}

li a {
    color: #008b8b;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover{
    color: #00d8d8;
}

.btn{
  margin: 20px;
  background-color: #00d8d8; 
}

.btn:hover{
  margin: 20px;
  background-color: #008b8b; 
}

.main_content {
  display: none;
  margin: 20px;
   border-radius: 20px;
  text-align: center;
  width: 70%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  flex-direction: column;
  background-color: #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  padding: 20px;
} 

.galery{
  width: 90%;
  margin: 50px auto;
  column-width: 33%;
  column-gap: 0px;

  column-count: 3;
}

.galery-image{
  display: inline-block;
  width: 100%;
  height: auto;
}