{% extends "layout.jinja2" %}

{% block content %}
<h1>Suas Fotos</h1>
<div class="galery">
	{% for photo in photos %}
	<a href="{{photo.url}}" target="_blank">
		<img src="{{photo.url}}" class="galery-image">
	</a>
		 
	{% endfor %}
</div>
{% endblock content %}